// Specific CSS for your home-page

@keyframes fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

// Hero Area -------------------------------------------------------------------

a.button-dscv {
  background-color:white;
  color:black;
  font-weight: bold;
  text-decoration:none;
  padding: 10px 15px 10px 15px;
  border-radius:3px;
  margin-left: 60px;
}

section.hero {
  background-image: image-url('home_page_banner.png');
  background-size: cover;
  background-position: center;
  padding: 250px 0 200px 0;
  margin-top: 120px;
}

.hero h1 {
  font-size: 2.5rem;
  color: white;
  padding-left: 60px;
}

header img {
  float: left;
  margin-left: 60px;
  margin-top: 10px;
}

// Discover --------------------------------------------------------------------

section.discover {
  margin-top: 160px;
  margin-bottom: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.slides{
  height:467px;
  position: relative;
}

div.slides img {
  position: absolute;
  width: 373px;
  height: 467px;
  transition: transform 0.5s, box-shadow 0.5s;
}

div.slides img:first-child {
  z-index:1;
}

div.slide:hover img {
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

a.button {
  padding-left: 60px;
}

.discover h1{
  color: black;
}

.discover h2{
  color: black;
  font-weight: lighter;
}

.discover div {
  width:400px;
}

div.content{
  margin-left:60px;
}

div.content img {
  width: 485px;
}

a.button-search {
  background-color:black;
  font-weight: bold;
  color:white;
  text-decoration:none;
  padding: 10px 25px 10px 30px;
  border-radius:3px;
  text-decoration: none;
  //margin-left: 230px;
}

// About Us Area ---------------------------------------------------------------

.about h1{
  padding-left: 800px;
  color: white;
}

.about h2{
  color: white;
  font-weight: lighter;
  padding-left: 800px;
}

a.button-about {
  background-color:white;
  font-weight: bold;
  color:black;
  text-decoration:none;
  padding: 10px 15px 10px 15px;
  border-radius:3px;
  text-decoration: none;
  margin-left: 800px;
}

section.about {
  background-image: image-url('banner_about_30.jpg');
  background-size: cover;
  background-position: center;
  padding: 250px 0 200px 0;
}
