.navbar {
  background-color: rgba(255, 255, 255, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  // a {
  //   padding: 5px 5px;
  //   color: #48353a;
  //   text-decoration: none;
  //   font-size: 20px;
  //   &:hover {
  //     color: $red;
  //     text-decoration: none;
  //   }
  // }

  img {
    margin-top: 10px;
    margin-left: 60px;
  }
}

nav {
  align-items: center;
}

.dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;

  &:hover {
    .dropdown-content {
      display: flex;
    }
  }

  .nav-avatar {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-size: contain;
  }

  .dropdown-content {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    background-color: white;
    padding: 8px 16px;
    // display: none;
    position: absolute;
    top: 100%;
    z-index: 1;
    a {
      width: max-content;
      color: $gray;
      text-decoration: none;
      font-size: 1.2rem;
    }
  }
}
