<div class="container">
  <h1>Edit Booking Request</h1>
  <%= simple_form_for @booking do |f| %>
    <%= f.input :day, :label => "Event date"  %>
    <%= f.input :comment, :label => "Is there anything else the artist should know?" %>
    <%= f.submit "Update booking", class: "btn-devise" %>
  <% end %>
</div>
