@import "show";
@import "offer";

section.hero-offer {
  background-image: image-url('background_offer_index.png');
  width: auto;
  padding-top: 50px;
  padding-bottom: 80px;
}

section.section-main {
  margin-left: 80px;
}

.search-bar {
 text-align: center;
}

#offer_category {
  padding: 6px 10px 6px 10px;
  border:none;
  border-radius:3px;
}

#offer_city {
  padding: 6px 10px 6px 10px;
  border:none;
  border-radius:3px;
}

ul {
  list-style-type: none;
}
h6 {
  font-weight: lighter;
  font-size: 16px;
}
div.container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-main {
  margin: 100px 0;
}

#offerpage-title {
  color: white;
  text-align: right;
}

.search-bar {
  color:white;
}

.offer-button-search {
  padding: 6px 10px 6px 10px;
  border:none;
  margin-top: 10px;
  background-color:#CA04A3;
  color:white;
  text-decoration:none;
  border-radius:3px;
}

#no-result {
  text-align: center;
}

.offer-cards.container {
  display: flex;
  justify-content: space-around;
}
