header {
  background-color: rgba(255, 255, 255, 0.15);
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.main {
  margin-left: 60px;
}

.booking {
  margin-right:85px;
}
