.offer-card {
  padding: 20px;
  border: solid;
  border-width: 1px;
  width: 340px;
  height: 420px;
  border-radius: 5px;
  p {
    color: black;
  }
}

.offer-card-image {
    height: 380px;
    background-size: cover;
    position: relative;
  }

.offer-card-info {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  font-weight: normal;
  border-radius: 5px 0 0 5px;
  width: 260px;
  padding: 10px;
  position: absolute;
  right: 0px;
  bottom: 40px;
  height: 200px;
}

.offer-card-button {
  background: #7411FF;
  width: 150px;
  border-radius: 3px 0 0 3px;
  font-size: 20px;
  color: white;
  margin-left: auto;
  margin-right: -10px;
  &:hover {
    text-decoration: none;
    color: black;
  }
}
