.offer-card {
  padding: 20px;
  border: solid;
  border-width: 1px;
  width: 340px;
  height: 420px;
  border-radius: 5px;
  p {
    color: black;
  }
}

.offer-card-image {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('cl_image_path offer.banner.key');
    height: 380px;
    object-fit: fill;
    position: relative;
  }

.offer-card-info {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  border-radius: 5px 0 0 5px;
  width: 260px;
  padding: 10px;
  position: absolute;
  right: 0px;
  bottom: 40px;
  height: 200px;
}

.offer-card-button {
  background: #c80000;
  width: 160px;
  border-radius: 3px 0 0 3px;
  font-size: 24px;
  color: white;
  margin-left: auto;
  margin-right: -10px;
  &:hover {
    text-decoration: none;
    color: $blue;
  }
}

